Repository paraserv/LRArchiveRetention: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-windows-credentials, check-powershell-secrets, check-docs-credentials

check-windows-credentials:
  name: Check for Windows credentials
  entry: scripts/check-credentials.sh
  language: script

check-powershell-secrets:
  name: Check PowerShell scripts for secrets
  entry: scripts/check-powershell-secrets.sh
  language: script

check-docs-credentials:
  name: Check documentation for exposed credentials
  entry: scripts/check-docs-credentials.sh
  language: script

📚 Add comprehensive security framework documentation
  CLAUDE.md
  docs/README.md
Due: check-windows-credentials, check-docs-credentials

docs: consolidate duplicated pre-commit security documentation
  CLAUDE.md
Due: check-windows-credentials, check-docs-credentials

chore: update secrets baseline after documentation consolidation
  .secrets.baseline
Due: none

docs: complete security documentation consolidation in README
  docs/README.md
Due: check-windows-credentials, check-docs-credentials

fix: prevent detect-secrets baseline loops during commits
  .pre-commit-config.yaml
  scripts/update-secrets-baseline.sh
Due: check-windows-credentials

fix: use targeted file exclusion for cleaner security scanning
  .pre-commit-config.yaml
  .secrets.baseline
  Save-Credential.ps1
  docs/scheduled-task-setup.md
  scripts/check-credentials.sh
  scripts/check-docs-credentials.sh
  scripts/check-powershell-secrets.sh
  scripts/update-secrets-baseline.sh
  tests/NAS_TESTING_GUIDE.md
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

test: verify pre-commit hooks work without baseline loops
  test_file.md
Due: check-windows-credentials, check-docs-credentials

cleanup: remove test file
  test_file.md
Due: check-windows-credentials, check-docs-credentials

docs: add WinRM timeout protection and performance guidelines
  CLAUDE.md
  docs/WINRM_SETUP.md
Due: check-windows-credentials, check-docs-credentials

feat: add optional progress parameters for improved UX and automation efficiency
  ArchiveRetention.ps1
  IMPROVEMENTS_TODO.md
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

docs: add WinRM patterns and script v1.2.0 testing guidance
  CLAUDE.md
  docs/WINRM_SETUP.md
Due: check-windows-credentials, check-docs-credentials

fix: resolve all critical operational issues blocking script execution
  ArchiveRetention.ps1
  CLAUDE.md
  IMPROVEMENTS_TODO.md
  modules/ShareCredentialHelper.psm1
  winrm_helper.py
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

feat: add production-ready NAS operations with comprehensive monitoring
  winrm_helper.py
Due: check-windows-credentials

docs: comprehensive documentation update with production validation results
  CLAUDE.md
  IMPROVEMENTS_TODO.md
  README_winrm_helper.md
Due: check-windows-credentials, check-docs-credentials

feat: implement semantic versioning and comprehensive documentation overhaul
  .gitattributes
  .gitignore
  ArchiveRetention.ps1
  CHANGELOG.md
  CLAUDE.md
  IMPROVEMENTS_TODO.md
  README.md
  README_winrm_helper.md
  VERSION
  docs/LEGACY_README.md
  docs/PROJECT_STRUCTURE.md
  winrm_helper.py
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

fix: change license from proprietary to MIT
  README.md
Due: check-windows-credentials, check-docs-credentials

feat: add MIT License file for GitHub license tab
  LICENSE
Due: none

feat: improve git commit workflow with smart commit scripts
  .pre-commit-config.yaml
  scripts/quick-commit.sh
  scripts/smart-commit.sh
Due: check-windows-credentials

docs: add comprehensive git workflow improvements and smart commit scripts
  CLAUDE.md
  docs/git-workflow.md
Due: check-windows-credentials, check-docs-credentials

fix: add pre-formatting to smart-commit to address root cause of hook failures
  scripts/format-files.sh
  scripts/smart-commit.sh
Due: check-windows-credentials

feat: fix pre-commit hooks to not block regular git workflow
  .pre-commit-config.yaml
  scripts/format.sh
Due: check-windows-credentials

docs: update workflow to use standard git commands
  CLAUDE.md
  docs/git-workflow.md
Due: check-windows-credentials, check-docs-credentials

quick test of the git commit process
  tmp.tst
Due: none

second part of git process test
  tmp.tst
Due: none

feat: update CreateScheduledTask.ps1 for current environment
  CreateScheduledTask.ps1
  scripts/format-files.sh
  scripts/quick-commit.sh
  scripts/smart-commit.sh
Due: check-windows-credentials, check-powershell-secrets

feat: successfully create and test scheduled task for 1-year retention
  create_scheduled_task.py
Due: check-windows-credentials

analysis: investigate empty directory cleanup issue - found root cause
  test_directory_cleanup.py
Due: check-windows-credentials

fix: scheduled task now properly runs in EXECUTE mode
  fix_scheduled_task.py
  run_execute_mode.py
Due: check-windows-credentials

feat: implement parallel processing for enterprise-scale archive retention
  ArchiveRetention.ps1
  IMPROVEMENTS_TODO.md
  README.md
  archive/development-scripts/create_scheduled_task.py
  archive/development-scripts/fix_scheduled_task.py
  archive/development-scripts/run_execute_mode.py
  archive/development-scripts/test_directory_cleanup.py
  archive/legacy-docs/LEGACY_README.md
  archive/legacy-docs/README_winrm_helper.md
  winrm_helper.py
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

perf: replace Remove-Item with System.IO.File::Delete for 5-25x faster deletion
  ArchiveRetention.ps1
  CHANGELOG.md
  VERSION
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

docs: add performance guidance for network operations
  ArchiveRetention.ps1
  CHANGELOG.md
  README.md
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

fix: null reference error after streaming mode completion
  ArchiveRetention.ps1
  CHANGELOG.md
  VERSION
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

fix: resolve all null reference errors in streaming mode (v2.2.5)
  ArchiveRetention_v2.1.0_backup.ps1
  ArchiveRetention_v2.3.0_parallel_streaming.ps1
  ArchiveRetention_v2.3.0_simplified.ps1
  CHANGELOG.md
  CLAUDE.md
  IMPROVEMENTS_TODO.md
  Optimized Plan.md
  VERSION
  archive/system-io-optimization/ArchiveRetention_FastScan.ps1
  archive/system-io-optimization/ArchiveRetention_Optimized.ps1
  archive/system-io-optimization/ArchiveRetention_SystemIO_Patch.ps1
  archive/system-io-optimization/NAS_Performance_Test.ps1
  archive/system-io-optimization/Simple_SIO_Test.ps1
  archive/system-io-optimization/StreamingDelete.ps1
  archive/system-io-optimization/StreamingDelete_v2.ps1
  archive/system-io-optimization/Test_SystemIO_Performance.ps1
  archive/system-io-optimization/compare_performance.ps1
  archive/system-io-optimization/final_test.ps1
  archive/system-io-optimization/launch_test.ps1
  archive/system-io-optimization/test_optimized.py
  archive/system-io-optimization/test_systemio.ps1
  archive/system-io-optimization/test_systemio_nas.ps1
  docs/scheduled-task-setup.md
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

fix: optimize parallel processing to use System.IO.File::Delete (v2.2.6)
  ArchiveRetention.ps1
  CHANGELOG.md
  VERSION
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

feat: implement parallel streaming mode for massive performance gains (v2.3.0)
  ArchiveRetention.ps1
  CHANGELOG.md
  Test-ParallelProcessing.ps1
  VERSION
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

chore: clean up project folder and archive old files
  .cursor/rules/001-project-context.mdc
  .cursor/rules/002-operational-commands.mdc
  .cursor/rules/003-naming-conventions.mdc
  .cursor/rules/004-workflow-templates.mdc
  .cursor/rules/005-troubleshooting.mdc
  .cursor/rules/006-git-operations.mdc
  .gitignore
  archive/development-scripts/Test-ParallelProcessing.ps1
  archive/planning-docs/Optimized Plan.md
  archive/version-backups/ArchiveRetention_v2.1.0_backup.ps1
  archive/version-backups/ArchiveRetention_v2.3.0_parallel_streaming.ps1
  archive/version-backups/ArchiveRetention_v2.3.0_simplified.ps1
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

feat: add comprehensive test data generation documentation and scripts
  tests/TEST_DATA_GENERATION_GUIDE.md
  tests/generation_scripts/Monitor-TestDataGeneration.ps1
  tests/generation_scripts/README.md
  tests/generation_scripts/Start-TestDataGeneration.ps1
  tests/generation_scripts/check_test_progress.py
  tests/generation_scripts/deploy_and_start_test.py
  tests/generation_scripts/generate_2tb_test_data.ps1
  tests/generation_scripts/generate_2tb_wrapper.py
  tests/generation_scripts/monitor_test_gen.py
  tests/generation_scripts/run_2tb_generation.py
  tests/generation_scripts/start_2tb_generation.py
  tests/generation_scripts/start_2tb_test.py
  tests/generation_scripts/start_test_generation.py
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

fix: properly close StreamWriter to allow retention log summary (v2.3.3)
  ArchiveRetention.ps1
  CHANGELOG.md
  VERSION
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

feat: add additional test data generation scripts and QNAP documentation images
  tests/generate_nas_data_optimized.py
  tests/generate_nas_data_simple.py
  tests/generate_nas_local.sh
  tests/generate_nas_local_safe.sh
  tests/generate_nas_throttled.sh
  tests/generate_test_data_mac.py
  tests/generation_scripts/qnap_error.png
  tests/generation_scripts/qnap_storage_pool.png
  tests/generation_scripts/run_3tb_generation.py
Due: check-windows-credentials

chore: clean up project structure and improve organization
  .gitignore
  CLAUDE.md
  tools/README.md
  tools/winrm_helper.py
Due: check-windows-credentials, check-docs-credentials

Path conditions:
  check-windows-credentials: any of: \.(ps1|md|py|sh|yaml|yml|json)$, but not: ^scripts/check-.*\.sh$
  check-powershell-secrets: any of: \.ps1$
  check-docs-credentials: any of: \.(md|txt|rst)$, but not: ^(scripts/.*\.sh|docs/pre-commit-security-setup\.md)$
