Repository paraserv/LRArchiveRetention: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-windows-credentials, check-powershell-secrets, check-docs-credentials

check-windows-credentials:
  name: Check for Windows credentials
  entry: scripts/check-credentials.sh
  language: script

check-powershell-secrets:
  name: Check PowerShell scripts for secrets
  entry: scripts/check-powershell-secrets.sh
  language: script

check-docs-credentials:
  name: Check documentation for exposed credentials
  entry: scripts/check-docs-credentials.sh
  language: script

fix: resolve retention log and Ctrl-C handling issues (v2.3.4)
  ArchiveRetention_backup_v2.3.3.ps1
  CHANGELOG.md
  VERSION
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

fix: resolve actual issues with retention logging and completion reporting (v2.3.5)
  ArchiveRetention.ps1
  CHANGELOG.md
  VERSION
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

fix: resolve retention log summary file locking issue (v2.3.6)
  ArchiveRetention.ps1
  CHANGELOG.md
  VERSION
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

fix: resolve lock handling issues and add Force parameter (v2.3.20)
  ArchiveRetention.ps1
  CHANGELOG.md
  VERSION
  modules/ShareCredentialHelper.psm1
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

chore: reorganize project structure and clean up test files
  .gitignore
  docs/v2.3.7-parallel-defaults.md
  tests/README.md
  tests/integration/test_auto_parallel.ps1
  tests/integration/test_forceclearlock_simple.ps1
  tests/integration/test_forceclearlock_v2318.ps1
  tests/integration/test_interrupt.ps1
  tests/integration/test_minimal.ps1
  tests/integration/test_parallel_defaults.py
  tests/integration/test_race_fix.ps1
  tests/integration/test_v237.ps1
  tests/integration/test_v239_fixes.ps1
  tests/integration/test_v239_interrupt.ps1
  tools/run_forceclearlock_test.py
  tools/test_force_param.py
  tools/test_forceclearlock_final.py
  tools/test_forceclearlock_simple.py
  tools/test_forceclearlock_winrm.py
  tools/validate_script.py
Due: check-windows-credentials, check-powershell-secrets, check-docs-credentials

chore: add comprehensive lock feature test tool
  tools/test_all_lock_features.py
Due: check-windows-credentials

feat: add balanced NAS test data generator and clean up temporary scripts
  archive/ArchiveRetention_backup_v2.3.3.ps1
  archive/check_generation.ps1
  archive/check_nas_creds.ps1
  archive/check_structure.py
  archive/cleanup_test_data.ps1
  archive/monitor_generation.ps1
  archive/save_nas_creds.ps1
  archive/start_nas_generation.ps1
  archive/start_nas_generation_fixed.ps1
  archive/test_nas_access.ps1
  archive/test_nas_simple.ps1
  tests/generate_nas_balanced.sh
  tests/generate_nas_data_optimized.py
  tests/generate_nas_data_simple.py
  tests/generation_scripts/qnap_error.png
  tests/generation_scripts/qnap_storage_pool.png
Due: check-windows-credentials, check-powershell-secrets

fix: remove insecure credential handling script
  archive/save_nas_creds.ps1
Due: check-windows-credentials, check-powershell-secrets

docs: consolidate documentation and eliminate duplication
  CLAUDE.md
  IMPROVEMENTS_TODO.md
  README.md
  docs/command-reference.md
  docs/installation.md
  docs/performance-benchmarks.md
Due: check-windows-credentials, check-docs-credentials

fix: resolve timestamp regression in test data generation
  CHANGELOG.md
  README.md
  tests/README.md
  tests/generate_nas_balanced.sh
Due: check-windows-credentials, check-docs-credentials

feat: add comprehensive GitHub release preparation
  docs/QUICK_START.md
  docs/RELEASE_NOTES_v2.3.21.md
  tools/create-production-release.sh
Due: check-windows-credentials, check-docs-credentials

docs: Sync all version references to v2.3.21
  CHANGELOG.md
  CLAUDE.md
  IMPROVEMENTS_TODO.md
  README.md
  VERSION
  docs/performance-benchmarks.md
  docs/scheduled-task-setup.md
  releases/checksums.txt
Due: check-windows-credentials, check-docs-credentials

releases: Update checksums for regenerated v2.3.21 packages
  releases/checksums.txt
Due: check-docs-credentials

Path conditions:
  check-windows-credentials: any of: \.(ps1|md|py|sh|yaml|yml|json)$, but not: ^scripts/check-.*\.sh$
  check-powershell-secrets: any of: \.ps1$, but not: ^Save-Credential\.ps1$
  check-docs-credentials: any of: \.(md|txt|rst)$, but not: ^(scripts/.*\.sh|docs/pre-commit-security-setup\.md)$
